*{
  margin: 0;
  padding: 0;
  border: 0;
}
.imagens{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.fotos img{
  width: 100%;
  height: 280px;
}
.fotos {
  width: 200px;
  height: 320px;
  margin: 20px;
  cursor: pointer;
  display: flex;
  text-align: center;
  
}
.fotos:hover{
  box-shadow: #282c34 4px 3px 0.8px;
  width: 197px;
  height: 317px;
}
.listaMenu div{
  cursor: pointer;
  margin: 5px 20px;
}
.listaMenu{
  
  display: flex;
  align-items: center;
}
.voltar{
  cursor: pointer;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: auto;
}
header h1{
  margin-left: 10px;
}
.listaMenu{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  
  width: 100%;
}
.form{
  width: 400px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  
}
.form input{
  height: 25px;
  margin: 8px 0px;
 border-radius: 25px;
  width: 400px;
  padding: 8px 15px;
  font-size: 25px;
}
.form .lupa{
  height: 33px;
  margin: 3px 0px;
 
}

.lupa img{
  width: 25px;
  border:0px;
  border-radius: 30px;
  margin-left: -30px;
  cursor: pointer;
}
.lupa{
  display: flex;
  align-items: center;
}
.listaMenu img{
  width: 40px;
}
.listaMenu div:hover{
  color: orangered;
}
.modal{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0,0.8);
}
.modalBody{
  width: 80%;
  height: 80%;
  margin: auto;
  
  background-size: cover;
  background-position: center;
  color: rgb(255, 251, 0);
  
}
.transparencia{
  padding: 30px;
  background:linear-gradient(to left,transparent,rgb(12, 12, 12));
  position: relative;
  width: 100%;
  
  margin-bottom: 200%;
}
.dataModal{
  margin-top: 10px;
  
}
.fotoModal{
  background-size: cover;
  background-position: center;
  color: rgb(255, 196, 1);
  height: 100%;
}

.sinopse{
  width: 50%;
  margin-top: 100px;
  text-shadow: black 2px 2px 1px;
  font-size: 22px;
  text-align: left;
}
.tituloModal{
  font-size: 30px;
  text-shadow: black 2px 3px 0.8px;
}
.dataModal{
  text-shadow: black 2px 2px 1px;
  font-size: 22px;
}
footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
footer a{
  margin-left: 10px;
  color: darkgrey;
}
@media (max-width:400px) {
  .sinopse{
    width: 90%;
    margin-top: 50px;
    text-shadow: black 2px 2px 1px;
    font-size: 17px;
  }
  .tituloModal{
    font-size: 20px;
    text-shadow: black 2px 3px 0.8px;
  }
  .dataModal{
    text-shadow: black 2px 2px 1px;
    font-size: 12px;
  }
  .transparencia{
    padding: 15px;
    background:linear-gradient(to left,transparent,rgb(12, 12, 12));
    position: relative;
    width: 100%;
    
    margin-bottom: 200%;
  }
   .listaMenu div{
     font-size: 14px;
     display: none;
   }
   .listaMenu{
     justify-content: space-between;
     margin: 0;
   }
   header{
     width: 100vw;
     flex-direction: column;
     margin: 0;
     align-items: center;
     justify-content: center;
     padding: 5px;
   }
   header h1{
    margin-left: 0px;
  }
   .form input{
     width: 300px;
     margin: 0;
   }
   .form{
     width: 350px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 10px 0px;
   }
}













.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
